attrs==26.1.0
certifi==2026.5.20
cffi==2.0.0
contourpy==1.3.3
cryptography==48.0.0
cycler==0.12.1
filelock==3.29.0
fonttools==4.63.0
kiwisolver==1.5.0
lensfun==0.3.4
matplotlib==3.10.9
netsnmp-python==1.0a1
nftables==0.1
numpy==2.4.6
packaging==26.2
pillow==12.2.0
psutil==7.2.2
pycairo==1.29.0
pycparser==3.0
pygdbmi==0.11.0.0
PyGObject==3.56.3
pyparsing==3.3.2
python-dateutil==2.9.0
sentry-sdk==2.61.1
setproctitle==1.3.7
six==1.17.0
smbus==1.1
TBB @ file:///build/onetbb/src/build/python/python_build
urllib3==2.7.0
VapourSynth==76
wheel==0.47.0
